 body {
            font-family: 'Lucida Sans Unicode', 'Lucida Console', sans-serif;
            padding: 0;
        }

.selected_row{
background-color: lightgrey;
}

.hidden{
    display:none;
}

.shown{
    display:block;
}

.indent{
    position:relative;
    left:20pt;
}

#output{
    display:block;
    width:90%;
    position:flex;
    height:90%;
    overflow:scroll;
    margin-left:5%;
}

td{
    border-left:solid darkgrey;
}

th{
    border-left:solid darkgrey;
}

.clipped{
    display:none;
}

.unclipped{
    display:float;
    float:center;
}

.form{
    position:relative;
    display:block;
    margin-bottom:75pt;
}

label {
  display: inline-block;
  width: 140px;
  text-align: right;
}

#csv_output{
    margin-bottom:30pt;
}

.rotate{
    transform: rotate(-90.0deg);  /* Standard */
}

.textarea{
    width:100%;
    height:50%;
}

.nonvisible{
    display:none;
}
